* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.title {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;

  margin-top: 20px;
  margin-bottom: 20px;
}

.display {
  display: flex;
  flex-direction: column;
}

.painel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  margin-bottom: 10px;
}

.textArea{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textArea span {
  font-size: 18px;
  font-weight: bold;
}

#textAreaOriginal {
  background: url("/assets/analise.jpg") center no-repeat ;
  background-size: 100%;
  color: red;
  
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  resize: none;

  font-size: 15px;
  font-weight: 800;
}

#textAreaConvertido {
  background: url("/assets/emoji.jpg") center no-repeat ;
  background-size: 100%;
  color: red;
  
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  resize: none;

  font-size: 15px;
  font-weight: 800;
}

.espaçador {
  margin-left: 10px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions input {
  width: 250px;
  height: 20px;
  line-height: 10px;

  background-color: #000;
  color: #FFF;
  border: 0;
  border-radius: 5px;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  margin-top: 20px;
  border: 1px solid #000;
}

.row {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.group {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-right: 5px;
}

.numerator {
  background-color: #000;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  margin-right: 2px;
  padding: 5px;

  width: 20px;
  text-align: center;
}

.group input {
  width: 80px;
  border: 1px solid #000;
  text-align: center;
}

.cpu {
  display: flex;
  flex-direction: column;

  margin-top: 15px;
}

.cpu h1 {
  text-align: center;
}

.row-cpu {
  display: flex;
  flex-direction: row;

  margin-top: 5px;
}

.row-cpu-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-cpu div {
  margin-right: 20px;
}

.regs {
  width: 75px;
}

.button-compile {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 15px;
}

.button-compile input {
  background-color: #ff0000;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  border: 0;
  border-radius: 10px;
  padding: 10px;
}