* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.title {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;

  margin-top: 20px;
  margin-bottom: 20px;
}

.display {
  display: flex;
  flex-direction: column;
}

.painel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  margin-bottom: 10px;
}

.espaçador {
  margin-left: 10px;
}

textarea {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  resize: none;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions input {
  width: 48%;
  height: 20px;
  line-height: 10px;

  background-color: #000;
  color: #FFF;
  border: 0;
  border-radius: 5px;
}

